body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ececec, #f5f5f5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.container {
    width: 600px;
    padding: 20px;
   
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px #0269c3;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #0e80a3;
    margin-bottom: 20px;
}

.scanner, .generator {
    margin-top: 30px;
}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0a89bb;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-weight: 500;
}

.custom-file-upload:hover {
    background-color: #3f09be;
}

video {
    width: 100%;
    height: auto;
    border: 1px solid #0e62f1;
    border-radius: 10px;
}

#scan-result {
    margin-top: 10px;
    color: #ce6d06;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #108dbf;
}
.input:hover{
     background-color: #53e2e2;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #0a89bb;
    color: #eaebec;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
     margin-top: 20px;
}

button:hover {
    background-color: #1717d9;
}

#qr-code {
    margin-top: 20px;
}
